/*SECTION 2: ABOUT */
/*************** NOT RESPONSIVE ***************/
#about-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    background-color: #393939;
    padding-bottom: 120px;
}

    #about-grid-item-1 {
        display: grid;
        justify-content: space-evenly;
    }

    #about-grid-item-2 {
        display: grid;
        grid-template-columns: repeat(3, 28%);
        grid-auto-columns: 28%;
        grid-template-rows: auto;
        justify-content: space-evenly;
        align-items: stretch;
    }

        #highlights-grid-item-1, #highlights-grid-item-2, #highlights-grid-item-3 {
                display: grid;
                justify-content: space-evenly;
                align-items: stretch;
            }
/*************** NOT RESPONSIVE ***************/
                #highlight-content-container-1, #highlight-content-container-2, #highlight-content-container-3 {
                    display: grid;
                    justify-content: space-evenly;
                    align-items: center;
                    border: white solid 3px;
                    text-align: center;
                    padding: 0 20px;
                    box-shadow: 0 4px 8px 0 rgba(11, 11, 11, 0.7), 0 14px 18px 0 rgba(14, 14, 14, 0.6);
                    
                    -webkit-transition: all .2s ease;
                    -moz-transition: all .2s ease;
                    -ms-transition: all .2s ease;
                    -o-transition: all .2s ease;
                    transition: all .2s ease;
                }

            /*hover transitions*/
            #highlight-content-container-1:hover, #highlight-content-container-2:hover, #highlight-content-container-3:hover {
                -webkit-transform: scale(1.02);
                -moz-transform: scale(1.02);
                -ms-transform: scale(1.02);
                -o-transform: scale(1.02);
                transform: scale(1.02);
            }
/*************** NOT RESPONSIVE ***************/
    #about-grid-item-3 {
        padding: 50px 95px 0 95px;
    }

        #about-grid-item-3 p {
            text-align: center;
        }

            #about-grid-item-3 a {
                color: #1676b6; 
                text-decoration: none;
                text-align: center;
            }
/*************** NOT RESPONSIVE ***************/
    #about-grid-item-4 {
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
        grid-auto-columns: 33.3%;
        grid-template-rows: repeat(3, auto);
        grid-row-gap: 35px;
        padding-top: 50px;
    }

        .skills-items {
            align-items: center;
            text-align: center;
            display: grid;
            justify-content: space-evenly;
			-webkit-transition: all .3s ease;
			-moz-transition: all .3s ease;
			-ms-transition: all .3s ease;
			-o-transition: all .3s ease;
			transition: all .3s ease;
            }
/*************** NOT RESPONSIVE ***************/
                .skills-items:hover {
                    letter-spacing: 1.9px;
                    -webkit-transform: scale(1.03);
                    -moz-transform: scale(1.03);
                    -ms-transform: scale(1.03);
                    -o-transform: scale(1.03);
                    transform: scale(1.03);
                }
                
                .skills-items:hover span{
                    color: #1676b6;
                }

