/*SECTION 2: ABOUT */
#about-grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}

    #about-grid-item-1 {
        display: grid;
        justify-content: space-evenly;
        grid-area: 1 / 1 / 2 / 2;
    }

    #about-grid-item-2 {
        display: grid;
        grid-template-columns: 33.333% 33.333% 33.333%;
        grid-template-rows: auto;
        grid-area: 2 / 1 / 3 / 2;
    }

        #highlights-grid-item-1 {
            display: grid;
            justify-content: space-evenly;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            grid-area: 1 / 1 / 2 / 2;
            grid-row-gap: 5px
        }

            #highlight-img-container-1 {
                display: grid;
                justify-content: space-evenly;
                grid-area: 1 / 1 / 2 / 2;
            }

            #highlight-content-container-1 {
                display: grid;
                justify-content: space-evenly;
                grid-area: 2 / 1 / 3 / 2;
            }

        #highlights-grid-item-2 {
            display: grid;
            justify-content: space-evenly;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            grid-area: 1 / 2 / 2 / 3;
            grid-row-gap: 5px
        }

            #highlight-img-container-2 {
                display: grid;
                justify-content: space-evenly;
                grid-area: 1 / 1 / 2 / 2;
            }

            #highlight-content-container-2 {
                display: grid;
                justify-content: space-evenly;
                grid-area: 2 / 1 / 3 / 2;
            }

        #highlights-grid-item-3 {
            display: grid;
            justify-content: space-evenly;
            grid-template-columns: auto;
            grid-template-rows: auto auto;
            grid-area: 1 / 3 / 2 / 4;
            grid-row-gap: 5px
        }

            #highlight-img-container-3 {
                display: grid;
                justify-content: space-evenly;
                grid-area: 1 / 1 / 2 / 2;
            }

            #highlight-content-container-3 {
                display: grid;
                justify-content: space-evenly;
                grid-area: 2 / 1 / 3 / 2;
            }

    #about-grid-item-3 {
        grid-area: 3 / 1 / 4 / 2;
    }

    #about-grid-item-4 {
        display: grid;
        justify-content: space-evenly;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        grid-area: 4 / 1 / 5 / 2;
        grid-row-gap: 5px;
    }

        #skills-grid-item-1 {
            display: grid;
            justify-content: space-evenly;
            grid-area: 1 / 1 / 2 / 2;
        }

        #skills-grid-item-2 {
            display: grid;
            justify-content: space-evenly;
            grid-area: 1 / 2 / 2 / 3;
        }

        #skills-grid-item-3 {
            display: grid;
            justify-content: space-evenly;
            grid-area: 1 / 3 / 2 / 4;
        }

        #skills-grid-item-4 {
            display: grid;
            justify-content: space-evenly;
            grid-area: 2 / 1 / 3 / 2;
        }

        #skills-grid-item-5 {
            display: grid;
            justify-content: space-evenly;
            grid-area: 2 / 2 / 3 / 3;
        }

        #skills-grid-item-6 {
            display: grid;
            justify-content: space-evenly;
            grid-area: 2 / 3 / 3 / 4;
        }

        #skills-grid-item-7 {
            display: grid;
            justify-content: space-evenly;
            grid-area: 3 / 1 / 4 / 2;
        }

        #skills-grid-item-8 {
            display: grid;
            justify-content: space-evenly;
            grid-area: 3 / 2 / 4 / 3;
        }

        #skills-grid-item-9 {
            display: grid;
            justify-content: space-evenly;
            grid-area: 3 / 3 / 4 / 4;
        }
