/*										 GLOBAL SETTINGS */
html, body {
	margin: 0;
	font-size: 25px; 
	background-color: #2e2e2e;
}

.noscroll {
	overflow: hidden;
}

@font-face {
	font-family: futura-pt;
	src: url(../fonts/FuturaPTBook.otf);
}

* {
	font-family: futura-pt, sans-serif;
	color: white;
}

.container-grid {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}

input[type=number] {
-moz-appearance: textfield;
}

h4 {
	font-size: 1.6rem;
	margin-left: .28rem;
	letter-spacing: .28rem;
	margin: 100px 0 100px 0;
}

/*										 SOCIAL MEDIA WINDOW */
#media-container {
	position: fixed;
	top: 45vh;
	display: grid;
	left: -48px;
	grid-template-rows: auto;
	grid-template-columns: 80% 20%;
	align-items: center;
	width: 70px;
	z-index: 1;

	animation: slideOut 2.4s ease;

	-webkit-transition-property: all;
	-moz-transition-property: all;
	-ms-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .4s;
	-moz-transition-duration: .4s;
	-ms-transition-duration: .4s;
	-o-transition-duration: .4s;
	transition-duration: .4s;
}

@keyframes slideOut {
	0% {left: -48px;}
	30%, 70% {left: 0;}
	100% {left: -48px;}
}

#media-container:hover {
	left: 0;
}

#media-window {
	padding: 15px 0;

	background-color: rgba(97, 96, 96, 0.4);
	-webkit-backdrop-filter: blur(9px);
	backdrop-filter: blur(9px);

	-webkit-transition-property: all;
	-moz-transition-property: all;
	-ms-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .35s;
	-moz-transition-duration: .35s;
	-ms-transition-duration: .35s;
	-o-transition-duration: .35s;
	transition-duration: .35s;
}


	#media-window li {
		display: block;
	}

		#media-window a{
			text-decoration: none;
		}

		#media-window a:visited { text-decoration: none; color: grey ;}
		#media-window a:hover { text-decoration: none; color: white ;}
		#media-window a:focus { text-decoration: none; color: grey ; }
		#media-window a:active { text-decoration: none; color: white ;}

#media-container-arrow {
	border-left: 10px solid rgba(97, 96, 96, 0.4);;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	background-color: transparent;
}

/*										 GLOBAL VISUAL ON SCROLL ANIMATIONS */
/* slide in animation class for section headers
#about-grid-item-1, #work-grid-item-1, #testimonials-grid-item-1, #contact-grid-item-1 {opacity: 0;}

.header-slide-in { animation: header-slide-in 1s ease forwards; }

@-webkit-keyframes header-slide-in { from {transform: translateX(-100px); opacity: 0;} To  {transform: translateX(0); opacity: 1;} }
@-moz-keyframes header-slide-in { from {transform: translateX(-100px); opacity: 0;} To  {transform: translateX(0); opacity: 1;} }
@-o-keyframes header-slide-in { from {transform: translateX(-100px); opacity: 0;} To  {transform: translateX(0); opacity: 1;} }
@keyframes header-slide-in { from {transform: translateX(-100px); opacity: 0;} To  {transform: translateX(0); opacity: 1;} }
*/


/*										 SECTION 1: HOME / LANDING PAGE */
header {
	display: grid;
	background-color: #2e2e2e;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	align-items: center;
	border: 0.5px #2e2e2e solid;
}

	#header-grid-shade {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		/*background-color: rgba(57, 57, 57, 0.5);*/
		height: inherit;
		justify-content: stretch;
		align-items: center;
	}

		#header-grid-item {
			display: grid;
			overflow: hidden;
			text-align: center;
			
			-webkit-transition-property: all;
			-moz-transition-property: all;
			-ms-transition-property: all;
			-o-transition-property: all;
			transition-property: all;
		}

			#header-grid-item h1 {
				font-size: 2.74rem;
				letter-spacing: 2.048rem;
				font-weight: 500;
				padding-left: 2.048rem;
				padding-right: 0;
				padding-top: 0;
			}

				#header-grid-item h1 a {
					display: inline-block;
					height: inherit;

					margin: 0 2.048rem 0 0;

					-webkit-transition-property: all;
					-moz-transition-property: all;
					-ms-transition-property: all;
					-o-transition-property: all;
					transition-property: all;
					-webkit-transition-duration: 1s;
					-moz-transition-duration: 1s;
					-ms-transition-duration: 1s;
					-o-transition-duration: 1s;
					transition-duration: 1s;

					animation: shake 10s ease infinite;
				}

					@-webkit-keyframes shake {
						0%, 50%, 54.4%, 100% {transform: rotateZ(0);}
						50.4%, 51.2%, 52%, 52.8%, 53.6% {transform: rotateZ(6.5deg);}
						50.8%, 51.6%, 52.4%, 53.2%, 54% {transform: rotateZ(-6.5deg);}
					}
				
					@-moz-keyframes shake {
						0%, 50%, 54.4%, 100% {transform: rotateZ(0);}
						50.4%, 51.2%, 52%, 52.8%, 53.6% {transform: rotateZ(6.5deg);}
						50.8%, 51.6%, 52.4%, 53.2%, 54% {transform: rotateZ(-6.5deg);}
					}
				
					@-o-keyframes shake {
						0%, 50%, 54.4%, 100% {transform: rotateZ(0);}
						50.4%, 51.2%, 52%, 52.8%, 53.6% {transform: rotateZ(6.5deg);}
						50.8%, 51.6%, 52.4%, 53.2%, 54% {transform: rotateZ(-6.5deg);}
					}

					@keyframes shake {
						0%, 50%, 54.4%, 100% {transform: rotateZ(0);}
						50.4%, 51.2%, 52%, 52.8%, 53.6% {transform: rotateZ(6.5deg);}
						50.8%, 51.6%, 52.4%, 53.2%, 54% {transform: rotateZ(-6.5deg);}
					}

				.name-letters {
					display: inline-block;
					animation: appearSlideLeft ease 2s;
				}

					@-webkit-keyframes appearSlideLeft {
						0% {transform: translateX(-7px); color: transparent;}
						55% {transform: translateX(-7px); color: transparent;}
						100% {transform: translateX(0); color: white;} 
					}
				
					@-moz-keyframes appearSlideLeft {
						0% {transform: translateX(-7px); color: transparent;}
						55% {transform: translateX(-7px); color: transparent;}
						100% {transform: translateX(0); color: white;}
					}
				
					@-o-keyframes appearSlideLeft {
						0% {transform: translateX(-7px); color: transparent;}
						55% {transform: translateX(-7px); color: transparent;}
						100% {transform: translateX(0); color: white;}
					}
				
					@keyframes appearSlideLeft {
						0% {transform: translateX(-7px); color: transparent;}
						55% {transform: translateX(-7px); color: transparent;}
						100% {transform: translateX(0); color: white;}
					}

				#logo1 {
					display: inline-block;
					width: auto;
					height: 1.82rem;
					cursor: pointer;

					-webkit-transition-property: all;
					-moz-transition-property: all;
					-ms-transition-property: all;
					-o-transition-property: all;
					transition-property: all;
					-webkit-transition-duration: .46s;
					-moz-transition-duration: .46s;
					-ms-transition-duration: .46s;
					-o-transition-duration: .46s;
					transition-duration: .46s;		

					animation: rotate ease 1.33s;
				}	

				#logo2 {
					display: inline-block;
					width: auto;
					height: 1.82rem;
					cursor: pointer;
					
					-webkit-transition-property: all;
					-moz-transition-property: all;
					-ms-transition-property: all;
					-o-transition-property: all;
					transition-property: all;
					-webkit-transition-duration: .46s;
					-moz-transition-duration: .46s;
					-ms-transition-duration: .46s;
					-o-transition-duration: .46s;
					transition-duration: .46s;	
					
					animation: rotate ease 1.33s;
				}	

					@-webkit-keyframes  rotate {
						from {transform: rotateY(0deg); opacity: 0;}
						to {transform: rotateY(720deg); opacity: 1;}
					}

					@-moz-keyframes rotate {
						from {transform: rotateY(0deg); opacity: 0;}
						to {transform: rotateY(720deg); opacity: 1;}
					}

					@-o-keyframes rotate {
						from {transform: rotateY(0deg); opacity: 0;}
						to {transform: rotateY(720deg); opacity: 1;}
					}

					@keyframes rotate {
						from {transform: rotateY(0deg); opacity: 0;}
						to {transform: rotateY(720deg); opacity: 1;}
					}

					#header-grid-item h1 a:hover  #logo1,#header-grid-item h1 a:hover #logo2{
					-webkit-transform: rotateZ(180deg);
					-moz-transform: rotateZ(180deg);
					-ms-transform: rotateZ(180deg);
					-o-transform: rotateZ(180deg);
					transform: rotateZ(180deg);
				}

			#header-grid-item h3 {
				line-height: 3.4rem;
				font-size: 1rem;
				letter-spacing: .44rem;
				margin-left: .44rem;
				font-weight: 500;
				margin-top: -3rem;

				-webkit-transition-property: all;
				-moz-transition-property: all;
				-ms-transition-property: all;
				-o-transition-property: all;
				transition-property: all;
				-webkit-transition-duration: 1s;
				-moz-transition-duration: .5s;
				-ms-transition-duration: .5s;
				-o-transition-duration: .5s;
				transition-duration: .5s;

				animation: appearSlideRight ease 2s;
			}

				@-webkit-keyframes appearSlideRight {
					0% {transform: translateX(7px); color: transparent;}
					55% {transform: translateX(7px); color: transparent;}
					100% {transform: translateX(0); color: white;} 
				}
			
				@-moz-keyframes appearSlideRight {
					0% {transform: translateX(7px); color: transparent;}
					55% {transform: translateX(7px); color: transparent;}
					100% {transform: translateX(0); color: white;}
				}
			
				@-o-keyframes appearSlideRight {
					0% {transform: translateX(7px); color: transparent;}
					55% {transform: translateX(7px); color: transparent;}
					100% {transform: translateX(0); color: white;}
				}
			
				@keyframes appearSlideRight {
					0% {transform: translateX(7px); color: transparent;}
					55% {transform: translateX(7px); color: transparent;}
					100% {transform: translateX(0); color: white;}
			}


/*										 SECTION 6: FOOTER */
footer {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto;
	padding: 65px 0;
	background-color: #393939;
}

	#footer-grid-item-1 { 
		display: grid;
		grid-area: 1 / 1 / 2 / 2;
		justify-content: center;
		align-content: center;
	}

		#footer-grid-item-1 p {
			text-align: center;
			font-size: .8rem;
			word-spacing: .2rem;
			letter-spacing: .008rem;
		}

		#footer-grid-item-1 p a {
			text-decoration: none;

			-webkit-transition-property: all;
			-moz-transition-property: all;
			-ms-transition-property: all;
			-o-transition-property: all;
			transition-property: all;
			-webkit-transition-duration: 0.4s;
			-moz-transition-duration: 0.4s;
			-ms-transition-duration: 0.4s;
			-o-transition-duration: 0.4s;
			transition-duration: 0.4s;	
		}

		#footer-grid-item-1 p a { text-decoration: none; color: white ;}
		#footer-grid-item-1 p a:visited { text-decoration: none; color: white ;}
		#footer-grid-item-1 p a:hover { text-decoration: none; color: #1676b6 ;}
		#footer-grid-item-1 p a:focus { text-decoration: none; color: white ; }
		#footer-grid-item-1 p a:active { text-decoration: none; color: white ;}

	#footer-grid-item-2 { 
		display: grid;
		grid-area: 2 / 1 / 3 / 2;
		justify-content: center;
		align-content: center;
		margin-top: .2rem;
		font-size: .56rem;
		color: grey;
	}

