/*   :/   */


/*										 GLOBAL SETTINGS */
html, body {
	margin: 0;
	background-color: #2e2e2e;
}

html { 
	font-size: 1.4vw;
}

#content-wrapper {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: auto;
	width: 100%;
	margin: 0 auto;
}

	.container-grid, #home-grid, footer {
		grid-column: 1 / 13;
	}

.noscroll {
	overflow: hidden;
}

@font-face {
	font-family: futura-pt;
	src: url(../fonts/FuturaPTBook.otf);
}

* {
	font-family: futura-pt, sans-serif;
	color: white;
}

.container-grid {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto;
	border-top: .5px #393939 solid;
	border-bottom: .5px #393939 solid;
	background-color: #393939;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
}

input[type=number] {
-moz-appearance: textfield;
}

h4 {
	font-size: 1.6rem;
	margin-left: .28rem;
	letter-spacing: .28rem;
	margin: 4rem 0 4rem 0;
	text-align: center;
	opacity: 0;
	transform: translateX(-15vw);
}

/*										 SOCIAL MEDIA WINDOW */

#media-container {
	position: fixed;
	top: 45.5vh;
	display: grid;
	left: -2rem;
	grid-template-rows: auto;
	grid-template-columns: 80% 20%;
	align-items: center;
	width: 3rem;
	z-index: 3;
	gap: 0;

	animation: slideOut 2.4s ease;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

@-webkit-keyframes slideOut {
	0% {left: -2rem;}
	30%, 70% {left: 0;}
	100% {left: -2rem;}
}

@-moz-keyframes slideOut {
	0% {left: -2rem;}
	30%, 70% {left: 0;}
	100% {left: -2rem;}
}

@-o-keyframes slideOut {
	0% {left: -2rem;}
	30%, 70% {left: 0;}
	100% {left: -2rem;}
}

@keyframes slideOut {
	0% {left: -2rem;}
	30%, 70% {left: 0;}
	100% {left: -2rem;}
}

#media-container:hover {
	left: 0;
}

#media-window {
	padding: .4rem;

	background-color: rgba(97, 96, 96, .6);
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-ms-transition: all .35s ease;
	-o-transition: all .35s ease;
	transition: all .35s ease;
	border-right: rgba(97, 96, 96, .6);;
}

	#media-window li {
		display: block;
		line-height: 1.2rem;
	}

		#media-window a{
			text-decoration: none;
			font-size: 1.1rem;
		}

		#media-window a:visited { text-decoration: none; color: grey ;}
		#media-window a:hover { text-decoration: none; color: white ;}
		#media-window a:focus { text-decoration: none; color: grey ; }
		#media-window a:active { text-decoration: none; color: white ;}

#media-container-arrow {
	border-left: .4rem solid rgba(97, 96, 96, .6);
	border-top: .4rem solid transparent;
	border-bottom: .4rem solid transparent;
	background-color: transparent;
}

/*										 GLOBAL VISUAL ON SCROLL ANIMATIONS */
/* slide in animation class for section headers
#about-grid-item-1, #work-grid-item-1, #testimonials-grid-item-1, #contact-grid-item-1 {opacity: 0;}

.header-slide-in { animation: header-slide-in 1s ease forwards; }

@-webkit-keyframes header-slide-in { from {transform: translateX(-100px); opacity: 0;} To  {transform: translateX(0); opacity: 1;} }
@-moz-keyframes header-slide-in { from {transform: translateX(-100px); opacity: 0;} To  {transform: translateX(0); opacity: 1;} }
@-o-keyframes header-slide-in { from {transform: translateX(-100px); opacity: 0;} To  {transform: translateX(0); opacity: 1;} }
@keyframes header-slide-in { from {transform: translateX(-100px); opacity: 0;} To  {transform: translateX(0); opacity: 1;} }
*/


/*										 SECTION 1: HOME / LANDING PAGE */
header {
	display: grid;
	background-color: #2e2e2e;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	align-items: center;
	overflow: hidden;
}

	#home-grid i {
		position: absolute;
		border-radius: 100%;
		background: grey;
		transition: all ease;
		animation: lighting-dance linear infinite;
	}

	@keyframes lighting-dance {
		0% {
			transform: translateY(0);
		}

		100% {
			opacity: 0;
			transform: translateY(-300px);
		}
	}

	#header-grid-shade {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		/*background-color: rgba(57, 57, 57, 0.5);*/
		height: inherit;
		justify-content: stretch;
		align-items: center;
	}

		.sky-city-1 {
			position: absolute;
			bottom: -5px;
			object-fit: contain;
			width: 100%;
			height: auto;
			z-index: 2;
		}

		#sky-city-1 { display: block;}
		#sky-city-1-1200px, #sky-city-1-992px, #sky-city-1-768px, #sky-city-1-600px, #sky-city-1-400px {display: none;}

		#header-grid-item {
			display: grid;
			overflow: hidden;
			text-align: center;
			
			-webkit-transition-property: all ease;
			-moz-transition-property: all ease;
			-ms-transition-property: all ease;
			-o-transition-property: all ease;
			transition-property: all ease;
		}

			#header-grid-item h1 {
				font-size: 2.74rem;
				letter-spacing: 2.048rem;
				font-weight: 500;
				padding-left: 2.048rem;
				padding-right: 0;
				padding-top: 0;
				z-index: 3;
			}

				#header-grid-item h1 a {
					display: inline-block;
					height: inherit;
					margin: 0 2.048rem 0 0;

					-webkit-transition: all 1s ease;
					-moz-transition: all 1s ease;
					-ms-transition: all 1s ease;
					-o-transition: all 1s ease;
					transition: all 1s ease;

					animation: shake 10s ease infinite;
				}

					@-webkit-keyframes shake {
						0%, 50%, 54.4%, 100% {transform: rotateZ(0);}
						50.4%, 51.2%, 52%, 52.8%, 53.6% {transform: rotateZ(6.5deg);}
						50.8%, 51.6%, 52.4%, 53.2%, 54% {transform: rotateZ(-6.5deg);}
					}
				
					@-moz-keyframes shake {
						0%, 50%, 54.4%, 100% {transform: rotateZ(0);}
						50.4%, 51.2%, 52%, 52.8%, 53.6% {transform: rotateZ(6.5deg);}
						50.8%, 51.6%, 52.4%, 53.2%, 54% {transform: rotateZ(-6.5deg);}
					}
				
					@-o-keyframes shake {
						0%, 50%, 54.4%, 100% {transform: rotateZ(0);}
						50.4%, 51.2%, 52%, 52.8%, 53.6% {transform: rotateZ(6.5deg);}
						50.8%, 51.6%, 52.4%, 53.2%, 54% {transform: rotateZ(-6.5deg);}
					}

					@keyframes shake {
						0%, 50%, 54.4%, 100% {transform: rotateZ(0);}
						50.4%, 51.2%, 52%, 52.8%, 53.6% {transform: rotateZ(6.5deg);}
						50.8%, 51.6%, 52.4%, 53.2%, 54% {transform: rotateZ(-6.5deg);}
					}

				.name-letters {
					display: inline-block;
					animation: appearSlideLeft ease 2s;
					background: linear-gradient(white , #393939);
					-webkit-background-clip: text;
					-moz-background-clip: text;
					background-clip: text;
					-webkit-text-fill-color: transparent;
					-moz-text-fill-color: transparent;
				}

					@-webkit-keyframes appearSlideLeft {
						0% {transform: translateX(-.28rem); opacity: 0;}
						55% {transform: translateX(-.28rem); opacity: 0;}
						100% {transform: translateX(0); opacity: 1;} 
					}
				
					@-moz-keyframes appearSlideLeft {
						0% {transform: translateX(-.28rem); opacity: 0;}
						55% {transform: translateX(-.28rem); opacity: 0;}
						100% {transform: translateX(0); opacity: 1;} 
					}
				
					@-o-keyframes appearSlideLeft {
						0% {transform: translateX(-.28rem); opacity: 0;}
						55% {transform: translateX(-.28rem); opacity: 0;}
						100% {transform: translateX(0); opacity: 1;} 
					}
				
					@keyframes appearSlideLeft {
						0% {transform: translateX(-.28rem); opacity: 0;}
						55% {transform: translateX(-.28rem); opacity: 0;}
						100% {transform: translateX(0); opacity: 1;} 
					}

				#logo1, #logo2 {
					display: inline-block;
					width: auto;
					height: 1.865rem;
					cursor: pointer;

					-webkit-transition: all .46s ease;
					-moz-transition: all .46s ease;
					-ms-transition: all .46s ease;
					-o-transition: all .46s ease;
					transition: all .46s ease;	

					animation: rotate ease 1.33s;
				}	

					@-webkit-keyframes  rotate {
						from {transform: rotateY(0deg); opacity: 0;}
						to {transform: rotateY(720deg); opacity: 1;}
					}

					@-moz-keyframes rotate {
						from {transform: rotateY(0deg); opacity: 0;}
						to {transform: rotateY(720deg); opacity: 1;}
					}

					@-o-keyframes rotate {
						from {transform: rotateY(0deg); opacity: 0;}
						to {transform: rotateY(720deg); opacity: 1;}
					}

					@keyframes rotate {
						from {transform: rotateY(0deg); opacity: 0;}
						to {transform: rotateY(720deg); opacity: 1;}
					}

					#header-grid-item h1 a:hover  #logo1,#header-grid-item h1 a:hover #logo2{
					-webkit-transform: rotateZ(180deg);
					-moz-transform: rotateZ(180deg);
					-ms-transform: rotateZ(180deg);
					-o-transform: rotateZ(180deg);
					transform: rotateZ(180deg);
				}

			#header-grid-item h3 {
				line-height: 3.4rem;
				font-size: 1rem;
				letter-spacing: .44rem;
				margin-left: .44rem;
				font-weight: 500;
				margin-top: -3rem;
				background: linear-gradient(grey 40%, #2e2e2e);
				-webkit-background-clip: text;
				-moz-background-clip: text;
				background-clip: text;
				-webkit-text-fill-color: transparent;
				z-index: 3;

				-webkit-transition: all .5s ease;
				-moz-transition: all .5s ease;
				-ms-transition: all .5s ease;
				-o-transition: all .5s ease;
				transition: all .5s ease;

				animation: appearSlideRight ease 2s;
			}

				@-webkit-keyframes appearSlideRight {
					0% {transform: translateX(.28rem); opacity: 0;}
					55% {transform: translateX(.28rem); opacity: 0;}
					100% {transform: translateX(0); opacity: 1;} 
				}
			
				@-moz-keyframes appearSlideRight {
					0% {transform: translateX(.28rem); opacity: 0;}
					55% {transform: translateX(.28rem); opacity: 0;}
					100% {transform: translateX(0); opacity: 1;} 
				}
			
				@-o-keyframes appearSlideRight {
					0% {transform: translateX(.28rem); opacity: 0;}
					55% {transform: translateX(.28rem); opacity: 0;}
					100% {transform: translateX(0); opacity: 1;} 
				}
			
				@keyframes appearSlideRight {
					0% {transform: translateX(.28rem); opacity: 0;}
					55% {transform: translateX(.28rem); opacity: 0;}
					100% {transform: translateX(0); opacity: 1;} 
			}


/*										 SECTION 6: FOOTER */

footer {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;
	padding: 2.6rem 0;
	background-color: #393939;
}

	#footer-grid-item-1 { 
		display: grid;
		justify-content: center;
		align-content: center;
	}

		#footer-grid-item-1 p {
			text-align: center;
			font-size: .8rem;
			word-spacing: .2rem;
			letter-spacing: .008rem;
		}

		#footer-grid-item-1 p a {
			text-decoration: none;

			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-ms-transition: all .4s ease;
			-o-transition: all .4s ease;
			transition: all .4s ease;
		}

		#footer-grid-item-1 p a { text-decoration: none; color: white ;}
		#footer-grid-item-1 p a:visited { text-decoration: none; color: white ;}
		#footer-grid-item-1 p a:hover { text-decoration: none; color: #1676b6 ;}
		#footer-grid-item-1 p a:focus { text-decoration: none; color: white ; }
		#footer-grid-item-1 p a:active { text-decoration: none; color: white ;}

	#footer-grid-item-2 { 
		display: grid;
		justify-content: center;
		align-content: center;
		margin-top: .2rem;
		font-size: .56rem;
		color: grey;
	}

