/*NAVIGATION */
#nav-grid {
	display: grid;
	position: fixed;
	grid-template-columns: 9.5% 81% 9.5%;
	grid-template-rows: auto;
	justify-content: center;
	width: 100%;
	height: 60px;
	z-index: 1;

	box-shadow: 0 5px 7px 0 rgba(13, 14, 13, 0.35);

	-webkit-transition-property: all;
	-moz-transition-property: all;
	-ms-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .35s;
	-moz-transition-duration: .35s;
	-ms-transition-duration: .35s;
	-o-transition-duration: .35s;
	transition-duration: .35s;
}

	.fixed-nav {
		display: grid;
		position: fixed;
		top: 0;
		animation: fixedNavSlideIn ease .5s;
	}

	.hidden-fixed-nav {
		display: grid;
		position: fixed;
		top: -70px;	
	}

		@-webkit-keyframes fixedNavSlideIn {
			from {top: -60px;}
			to {top: 0;}
		}

		@-moz-keyframes fixedNavSlideIn {
			from {top: -60px;}
			to {top: 0;}
		}

		@-o-keyframes fixedNavSlideIn {
			from {top: -60px;}
			to {top: 0;}
		}

		@keyframes fixedNavSlideIn {
			from {top: -60px;}
			to {top: 0;}
		}

	.light-colored-navbar {
		background-color: rgba(57, 57, 57, 0.87);
		backdrop-filter: blur(5px);
	}

	.dark-colored-navbar {
		background-color:rgba(46, 46, 46, 0.87);
		backdrop-filter: blur(5px);
	}

	#nav-item-1 {
		display: flex;
		justify-content: center;
		align-items: center;
		grid-area: auto;
	}

		#playBtn {
			width: 0;
			height: 0;
			border-top:  8px solid transparent;
			border-bottom: 8px solid transparent;
			border-left: white 16px solid;
			margin-top: 3.5px;
		
			-webkit-transition-property: all;
			-moz-transition-property: all;
			-ms-transition-property: all;
			-o-transition-property: all;
			transition-property: all;
			-webkit-transition-duration: 0.4s;
			-moz-transition-duration: 0.4s;
			-ms-transition-duration: 0.4s;
			-o-transition-duration: 0.4s;
			transition-duration: 0.4s;	
		}

			#playBtn:hover { 
				border-left: grey 16px solid;
			}
			#playBtn:focus { 
				border-left: grey 16px solid;
			}
			#playBtn:active { 
				border-left: grey 16px solid;
			}

		#pauseBtn {
			width: 5px;
			height: 15px;
			border-left: white 5px solid;
			border-right: white 5px solid;
			margin-top: 3.5px;
			
			-webkit-transition-property: all;
			-moz-transition-property: all;
			-ms-transition-property: all;
			-o-transition-property: all;
			transition-property: all;
			-webkit-transition-duration: 0.4s;
			-moz-transition-duration: 0.4s;
			-ms-transition-duration: 0.4s;
			-o-transition-duration: 0.4s;
			transition-duration: 0.4s;

		}

			#pauseBtn:hover { 
				border-left: grey 5px solid;
				border-right: grey 5px solid;
			}
			#pauseBtn:focus { 
				border-left: grey 5px solid;
				border-right: grey 5px solid; 
			}
			#pauseBtn:active { 
				border-left: grey 5px solid;
				border-right: grey 5px solid;
			}

			#ctrl-container:active #playBtn , #ctrl-container:active #pauseBtn {
				transform: rotateZ(180deg);
			}

		#ctrl-container {
			cursor: pointer;
		}

			.hidden-btn {
				display: none;
			}

	#nav-item-2 {
		display: flex;
		grid-area: auto;
		justify-content: center;
		align-items: center;
		word-spacing: 45px;
	}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;
			}

			ul li {
				display: inline-block;
				font-size: 20px;
				letter-spacing: 1px;

				-webkit-transition-property: all;
				-moz-transition-property: all;
				-ms-transition-property: all;
				-o-transition-property: all;
				transition-property: all;
				-webkit-transition-duration: 0.5s;
				-moz-transition-duration: 0.5s;
				-ms-transition-duration: 0.5s;
				-o-transition-duration: 0.5s;
				transition-duration: 0.5s;
				}

				ul li a {
					display: inline;
					text-decoration: none;
					color: grey;

					-webkit-transition-property: all;
					-moz-transition-property: all;
					-ms-transition-property: all;
					-o-transition-property: all;
					transition-property: all;
					-webkit-transition-duration: 0.5s;
					-moz-transition-duration: 0.5s;
					-ms-transition-duration: 0.5s;
					-o-transition-duration: 0.5s;
					transition-duration: 0.5s;
				}

				ul li a:hover, ul li a:active {
					-webkit-transform: translateY(-3.5px);
					-moz-transform: translateY(-3.5px);
					-ms-transform: translateY(-3.5px);
					-o-transform: translateY(-3.5px);
					transform: translateY(-3.5px);
				}

				ul li div {
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.active-tab {
					/*border-bottom: solid 1.3px white;*/
					color: white;
				}

	
	#nav-item-3 {
		display: flex;
		grid-area: auto;
		justify-content: center;
		align-items: center;
	}

		.fa-github { 
			text-decoration: none; 
			color: white ; 			

			-webkit-transition-property: all;
			-moz-transition-property: all;
			-ms-transition-property: all;
			-o-transition-property: all;
			transition-property: all;
			-webkit-transition-duration: 0.4s;
			-moz-transition-duration: 0.4s;
			-ms-transition-duration: 0.4s;
			-o-transition-duration: 0.4s;
			transition-duration: 0.4s;
		}

		.fa-github:visited { text-decoration: none; color: white ;}
		.fa-github:hover { text-decoration: none; color: grey ;}
		.fa-github:focus { text-decoration: none; color: white ; }
		.fa-github:active { text-decoration: none; color: grey ;}
