/*NAVIGATION */
#nav-grid {
	display: grid;
	position: fixed;
	grid-template-columns: 9.5% 81% 9.5%;
	grid-auto-columns: 9.5% 81% 9.5%;
	grid-template-rows: auto;
	justify-content: center;
	width: 100%;
	height: 2.4rem;
	z-index: 3;

	-webkit-transition-property: all;
	-moz-transition-property: all;
	-ms-transition-property: all;
	-o-transition-property: all;
	transition-property: all;
	-webkit-transition-duration: .35s;
	-moz-transition-duration: .35s;
	-ms-transition-duration: .35s;
	-o-transition-duration: .35s;
	transition-duration: .35s;
}

	.shadow-filter-effect {
		box-shadow: 0 .2rem .28rem 0 rgba(13, 14, 13, 0.35);
		-webkit-backdrop-filter: blur(.6rem);
		backdrop-filter: blur(.6rem);	
	}

	.fixed-nav {
		display: grid;
		position: fixed;
		top: 0;
		animation: fixedNavSlideIn ease .4s;
	}

	.hidden-fixed-nav {
		display: grid;
		position: fixed;
		top: -3.3rem;	
	}

		@-moz-keyframes fixedNavSlideIn {
			from {top: -2.4rem;}
			to {top: 0;}
		}
		
		@-moz-keyframes fixedNavSlideIn {
			from {top: -2.4rem;}
			to {top: 0;}
		}

		@-o-keyframes fixedNavSlideIn {
			from {top: -2.4rem;}
			to {top: 0;}
		}

		@keyframes fixedNavSlideIn {
			from {top: -2.4rem;}
			to {top: 0;}
		}

	.light-colored-navbar {
		background-color: rgba(57, 57, 57, .98);
	}

	.dark-colored-navbar {
		background-color:rgba(46, 46, 46, .98);
	}

	#nav-item-1 {
		display: flex;
		justify-content: center;
		align-items: center;
		grid-area: auto;
	}

		/*music player controllers*/
		#musicBtn {
			width:0; 
			height:0; 
			border-left:.64rem solid grey; 
			border-top:.32rem solid transparent; 
			border-right:0 solid transparent; 
			border-bottom:.32rem solid transparent;

			-webkit-transition: all .5s ease;
			-moz-transition: all .5s ease;
			-ms-transition: all .5s ease; 
			-o-transition: all .5s ease; 
			transition: all .5s ease;
		}

		.playBtn {
			animation:play-btn .5s ease forwards; 
		}
		
		/*#musicBtn.play:hover {
			border-left:.64rem solid white;
		}*/

		@-webkit-keyframes play-btn {
			from {
				transform:rotateZ(0deg); 
				width:.24rem; 
				height:.64rem; 
				border-left:.2rem solid white; 
				border-top:0 solid transparent; 
				border-right:.2rem solid white; 
				border-bottom:0 solid transparent;
			}

			to {
				transform:rotateZ(-360deg); 
				width:0; 
				height:0; 
				border-left:.64rem solid grey; 
				border-top:.32rem solid transparent; 
				border-right:0 solid transparent; 
				border-bottom:.32rem solid transparent;
			}
		}

		@-moz-keyframes play-btn {
			from {
				transform:rotateZ(0deg); 
				width:.24rem; 
				height:.64rem; 
				border-left:.2rem solid white; 
				border-top:0 solid transparent; 
				border-right:.2rem solid white; 
				border-bottom:0 solid transparent;
			}

			to {
				transform:rotateZ(-360deg); 
				width:0; 
				height:0; 
				border-left:.64rem solid grey; 
				border-top:.32rem solid transparent; 
				border-right:0 solid transparent; 
				border-bottom:.32rem solid transparent;
			}
		}

		@-o-keyframes play-btn {
			from {
				transform:rotateZ(0deg); 
				width:.24rem; 
				height:.64rem; 
				border-left:.2rem solid white; 
				border-top:0 solid transparent; 
				border-right:.2rem solid white; 
				border-bottom:0 solid transparent;
			}

			to {
				transform:rotateZ(-360deg); 
				width:0; 
				height:0; 
				border-left:.64rem solid grey; 
				border-top:.32rem solid transparent; 
				border-right:0 solid transparent; 
				border-bottom:.32rem solid transparent;
			}
		}

		@keyframes play-btn {
			from {
				transform:rotateZ(0deg); 
				width:.24rem; 
				height:.64rem; 
				border-left:.2rem solid white; 
				border-top:0 solid transparent; 
				border-right:.2rem solid white; 
				border-bottom:0 solid transparent;
			}

			to {
				transform:rotateZ(-360deg); 
				width:0; 
				height:0; 
				border-left:.64rem solid grey; 
				border-top:.32rem solid transparent; 
				border-right:0 solid transparent; 
				border-bottom:.32rem solid transparent;
			}
		}

		.pauseBtn {
			animation:pause-btn .5s ease forwards; 
		}

		/*#musicBtn.pause:hover {
			border-left:5px solid grey;
			border-right:5px solid grey;
		}*/

		@-webkit-keyframes pause-btn {
			from {
				transform:rotateZ(0deg); 
				width:0; 
				height:0; 
				border-left:.64rem solid white; 
				border-top:.32rem solid transparent; 
				border-right:0 solid transparent; 
				border-bottom:.32rem solid transparent;
			}

			to {
				transform:rotateZ(360deg); 
				width:.24rem; 
				height:.64rem; 
				border-left:.2rem solid white; 
				border-top:0 solid transparent; 
				border-right:.2rem solid white; 
				border-bottom:0 solid transparent;
			}
		}

		@-moz-keyframes pause-btn {
			from {
				transform:rotateZ(0deg); 
				width:0; 
				height:0; 
				border-left:.64rem solid white; 
				border-top:.32rem solid transparent; 
				border-right:0 solid transparent; 
				border-bottom:.32rem solid transparent;
			}

			to {
				transform:rotateZ(360deg); 
				width:.24rem;  
				height:.64rem; 
				border-left:.2rem solid white; 
				border-top:0 solid transparent; 
				border-right:.2rem solid white; 
				border-bottom:0 solid transparent;
			}
		}

		@-o-keyframes pause-btn {
			from {
				transform:rotateZ(0deg); 
				width:0; 
				height:0; 
				border-left:.64rem solid white; 
				border-top:.32rem solid transparent; 
				border-right:0 solid transparent; 
				border-bottom:.32rem solid transparent;
			}

			to {
				transform:rotateZ(360deg); 
				width:.24rem; 
				height:.64rem; 
				border-left:.2rem solid white; 
				border-top:0 solid transparent; 
				border-right:.2rem solid white; 
				border-bottom:0 solid transparent;
			}
		}

		@keyframes pause-btn {
			from {
				transform:rotateZ(0deg); 
				width:0; 
				height:0; 
				border-left:.64rem solid white; 
				border-top:.32rem solid transparent; 
				border-right:0 solid transparent; 
				border-bottom:.32rem solid transparent;
			}

			to {
				transform:rotateZ(360deg); 
				width:.24rem; 
				height:.64rem; 
				border-left:.2rem solid white; 
				border-top:0 solid transparent; 
				border-right:.2rem solid white; 
				border-bottom:0 solid transparent;
			}
		}

			#ctrl-container {
				cursor: pointer;
			}

	#nav-item-2 {
		display: flex;
		justify-content: center;
		align-items: center;
		word-spacing: 1.8rem;
	}

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;
			}

				ul li {
				display: inline-block;
				font-size: .8rem;
				letter-spacing: .04rem;

				-webkit-transition: all .5s ease;
				-moz-transition: all .5s ease;
				-ms-transition: all .5s ease;
				-o-transition: all .5s ease;
				transition: all .5s ease;
				}

				 ul li a {
					display: inline;
					text-decoration: none;
					color: grey;

					-webkit-transition: all .5s ease;
					-moz-transition: all .5s ease;
					-ms-transition: all .5s ease;
					-o-transition: all .5s ease;
					transition: all .5s ease;
				}

				#nav-item-2 ul li a:hover, #nav-item-2 ul li a:active {
					-webkit-transform: translateY(-.14rem);
					-moz-transform: translateY(-.14rem);
					-ms-transform: translateY(-.14rem);
					-o-transform: translateY(-.14rem);
					transform: translateY(-.14rem);
				}

				#nav-item-2 ul li div {
					display: flex;
					align-items: center;
					justify-content: center;
				}

				.active-tab {
					/*border-bottom: solid 1.3px white;*/
					color: white;
				}
	
	/* hamburger icon */
	#nav-item-3 {
		display: flex;
		justify-content: center;
		align-items: center;
	}

		#nav-github { 
			text-decoration: none; 
			color: white ; 			

			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-ms-transition: all .4s ease;
			-o-transition: all .2s ease;
			transition: all .4s ease;
		}

		#hamburger-menu-container {
			display: none;
			justify-content: center;
			height: 1rem;
			cursor: pointer;

			-webkit-transition: all .4s ease;
			-moz-transition: all .4s ease;
			-ms-transition: all .4s ease;
			-o-transition: all .4s ease;
			transition: all .4s ease;
		}

			.align-container-1 {
				padding-top: .3rem;
			}

			.align-container-2 {
				padding-top: 1rem;
			}

			#hamburger-menu-container > div.hamburger{
				height: .17rem;
				width: 1.3rem;
				background-color: grey;
				margin-bottom: -.08rem;

				/*-webkit-transition: all .4s ease;
				-moz-transition: all .4s ease;
				-ms-transition: all .4s ease;
				-o-transition: all .4s ease;
				transition: all .4s ease;*/

				animation: hamburger .3s ease-out forwards;
			}

			@-webkit-keyframes hamburger {0% {transform: translateY(0rem) rotateZ(45deg);}40% {transform: translateY(0rem);}100% {transform: translateY(0rem);}}
			@-moz-keyframes hamburger {0% {transform: translateY(0rem) rotateZ(45deg);}40% {transform: translateY(0rem);}100% {transform: translateY(0rem);}}
			@-o-keyframes hamburger {0% {transform: translateY(0rem) rotateZ(45deg);}40% {transform: translateY(0rem);}100% {transform: translateY(0rem);}}
			@keyframes hamburger {0% {transform: translateY(0rem) rotateZ(45deg);}40% {transform: translateY(0rem);}100% {transform: translateY(0rem);}}

				#hamburger-menu-container > div.hamburger::after {
					content: "";
					position: absolute;
					height: .17rem;
					width: 1.3rem;
					background-color: grey;
					/*transform: translateY(.6rem);*/
					margin-top: -.08rem;

					/*-webkit-transition: all .4s ease;
					-moz-transition: all .4s ease;
					-ms-transition: all .4s ease;
					-o-transition: all .4s ease;
					transition: all .4s ease;*/
					animation: hamburger2 .3s ease-out forwards;
				}
	
				@-webkit-keyframes hamburger2 {0% {transform: translateY(0rem) rotateZ(-90deg);}40% {transform: translateY(0rem);}100% {transform: translateY(0.6rem);}}
				@-moz-keyframes hamburger2 {0% {transform: translateY(0rem) rotateZ(-90deg);}40% {transform: translateY(0rem);}100% {transform: translateY(0.6rem);}}
				@-o-keyframes	 hamburger2 {0% {transform: translateY(0rem) rotateZ(-90deg);}40% {transform: translateY(0rem);}100% {transform: translateY(0.6rem);}}			
				@keyframes hamburger2 {0% {transform: translateY(0rem) rotateZ(-90deg);}40% {transform: translateY(0rem);}100% {transform: translateY(0.6rem);}}
	
				#hamburger-menu-container > div.times {
					height: .17rem;
					width: 1.3rem;
					background-color: white;
			
					/*transform: rotateZ(225deg);

					-webkit-transition: all .4s ease;
					-moz-transition: all .4s ease;
					-ms-transition: all .4s ease;
					-o-transition: all .4s ease;
					transition: all .4s ease;*/

					animation: times .3s ease-in forwards;
				}

				@-webkit-keyframes times {0% {transform: translateY(0rem);}40% {transform: translateY(0.3rem);}100% {transform: translateY(0rem) rotateZ(45deg);}}
				@-moz-keyframes times {0% {transform: translateY(0rem);}40% {transform: translateY(0.3rem);}100% {transform: translateY(0rem) rotateZ(45deg);}}
				@-o-keyframes times {0% {transform: translateY(0rem);}40% {transform: translateY(0.3rem);}100% {transform: translateY(0rem) rotateZ(45deg);}}
				@keyframes times {0% {transform: translateY(0rem);}40% {transform: translateY(0.3rem);}100% {transform: translateY(0rem) rotateZ(45deg);}}

					#hamburger-menu-container > div.times::after {
						content: "";
						position: absolute;
						height: .17rem;
						width: 1.3rem;
						background-color: white;
						/*transform: translate rotateZ(90deg);

						-webkit-transition: all .4s ease;
						-moz-transition: all .4s ease;
						-ms-transition: all .4s ease;
						-o-transition: all .4s ease;
						transition: all .4s ease;*/
						animation: times2 .3s ease-in forwards;
				}

				@-webkit-keyframes times2 {0% {transform: translateY(.6rem);}40% {transform: translateY(0rem);}100% {transform: translateY(0rem) rotateZ(-90deg);}}
				@-moz-keyframes times2 {0% {transform: translateY(.6rem);}40% {transform: translateY(0rem);}100% {transform: translateY(0rem) rotateZ(-90deg);}}
				@-o-keyframes times2 {0% {transform: translateY(.6rem);}40% {transform: translateY(0rem);}100% {transform: translateY(0rem) rotateZ(-90deg);}}
				@keyframes times2 {0% {transform: translateY(.6rem);}40% {transform: translateY(0rem);}100% {transform: translateY(0rem) rotateZ(-90deg);}}
				
			/* dropdown menu */
			#nav-item-4 {
				display: none;
				width: 100vw;
				height: 101vh;
				grid-template-rows: 80% 20%;
				position:absolute;
				z-index: -1;
				justify-content: center;
				align-items: stretch;
				-webkit-backdrop-filter: blur(.6rem);
				backdrop-filter: blur(.6rem);
				-webkit-transition: all .6s ease;
				-moz-transition: all .6s ease;
				-ms-transition: all .6s ease;
				-o-transition: all .6s ease;
				transition: all .6s ease;
			}

				.hidden-dropdown {
					top: -150vh;
				}

				.unhidden-dropdown {
					top: 0;
				}

				#menu-min {
					display: flex;
					align-items: center;
					justify-content: center;
				}

					#social-media-min {
						display: flex;
						align-items: center;
						justify-content: center;
					}

						#social-media-min li {
							display: inline;
							padding: 0 .8rem;
						}

							#social-media-min a{
								font-size: 1.3rem;
							}

		#nav-github:visited, #social-media-min a:visited  { text-decoration: none; color: grey ;}
		#nav-github:hover, #social-media-min a:hover  { text-decoration: none; color: white ;}
		#nav-github:focus, #social-media-min a:focus  { text-decoration: none; color: grey ; }
		#nav-github:active,#social-media-min a:active  { text-decoration: none; color: white ;}
